.choice-container {
  display: flex;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  border: 0.1rem solid rgba(86, 185, 235, 0.5);
  background: white;
}
.choice-container:hover {
  cursor: pointer;
}
.choice-prefix {
  padding: 1.5rem 2.5rem;
  background: #56a5eb;
  color: white;
}
.choice-text {
  padding: 1.5rem;
}

.correct {
  background-color: #28a745;
}

.incorrect {
  background-color: #dc3545;
}

/* hud */
#hud {
  display: flex;
  justify-content: space-between;
}
.hud-prefix {
  text-align: center;
  font-size: 2rem;
}
.hud-main-textt {
  text-align: center;
}
